<?xml version="1.0"?>
<launch>
  <arg name="pcdfile" default="$(env HOME)/bagfiles/1728193268939728.pcd"/>
  <arg name="rviz_config" default="$(find dbscan)/config/debug_with_pcd.rviz"/>

  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" args="$(arg pcdfile)">
    <param name="frame_id" value="map"/>
    <param name="latch" value="true"/>
    <remap from="/cloud_pcd" to="/map_cloud"/>
  </node>
  <node pkg="dbscan" type="ground_removal" name="ground_removal" output="screen"/>

  <!-- <include file="$(find dbscan)/launch/dbscan_open3d.launch"> -->
  <include file="$(find dbscan)/launch/dbscan_pcl.launch">
    <arg name="minPts" value="10"/>
    <arg name="epsilon" value="1.0"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" required="true"/>
</launch>